@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


body{
    text-align: center;
    margin: auto;
    width: 960px;
    background-color: rgb(202, 202, 202);
}
h1{
    text-align: center;
    background-color: rgb(32, 32, 43);
    color: whitesmoke;
    font-weight: bolder;
}
h2 {
    color: slategray;
    font-weight: bolder;
}
ul li:nth-last-child(1){
    background-color: slategray;

}
table {
border: 4px;
border: rgb(38, 44, 49);
border: outset;
}
td {
background-color: whitesmoke;
text-align: center;
padding :4px;
padding-top: 7px;
font-family: 'Roboto', sans-serif;
}
th {
background-color: whitesmoke;
color:salmon ;
height : 30px;
border-bottom:  rgb(38, 44, 49);
border-width: 6px;
border-style: solid;
margin: 0%;
padding: 0px;
text-align: center;
}

#button1 {
    background-color: salmon;
    text-decoration: none;
    color: rgb(32, 32, 43);
    font-size: x-large;
    padding: 10px;
    float: right;
}
button :hover {
    background-color: whitesmoke;
    padding: 0px;
}
a {
    text-decoration: none;
    color: rgb(32, 32, 43);
    font-size: x-large;
}
a:hover {
    color :salmon
}
#button2 {
    z-index:auto;
}