h1{
    text-align: center;
    background-color: rgb(32, 32, 43);
    color: whitesmoke;
    font-weight: bolder;
}
h2 {
    color: slategray;
    font-weight: bolder;
}
ul li:nth-last-child(1){
    background-color: slategray;

}