@import url('https://fonts.googleapis.com/css2?family=Niconne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Headland+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sunflower:wght@500&display=swap');
* {
    box-sizing: border-box;
}
body {
    width: 960px;
    margin: auto;
    background-image: url("https://github.com/tamaraalbilleh/cookie-stand/blob/main/assets/blur%202.jpg?raw=true");
}
header {
background-color: burlywood;
width: 100%;
padding: 20px;
margin-top: 10px;


}
a {
text-align: right;
text-decoration: none;
margin-left: 350px;
font-size: xx-large;

color: rgba(68, 53, 38, 0.664);
font-family: 'Sunflower', sans-serif;

}

body main {

    border-width: 5px;
    border-style: solid;
    border-color: burlywood;
    border-radius: 5px;
    background-color: rgba(222, 184, 135, 0.301);
    

}
#logo {
    width: 250px;
    float: left;
    margin-right: 50px;
    margin-bottom: 40px;
    
}
h1 {
    text-align: right;
    font-family: 'Headland One', serif;
}
h2 {
 text-align: left;
 font-weight: bolder;
 font-size:x-large;
 
 margin-left :30px;
 color: rgb(255, 255, 255);
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px rgba(255, 129, 3, 0.664), 0 0 40px #ffc423, 0 0 50px #ff7b22, 0 0 60px #e69600, 0 0 70px #fc8a09;
}
h3 {
    text-align:left;
    font-size: xx-large;
    font-weight: bold;
    margin-left: 20px;
    font-family: 'Niconne', cursive;
    color: rgb(255, 255, 255);
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px rgba(255, 129, 3, 0.664), 0 0 40px #ffc423, 0 0 50px #ff7b22, 0 0 60px #e69600, 0 0 70px #fc8a09;


}
 
.div1 {
    
    margin-right: 10px;
    width: calc(960px/2);
    text-align: left;
    display: block;
    float: left;
   
   
} 
.two {
 
 margin-left: 10px;

}
p {
   text-align: left;
}
  .div2 { 
    /* margin-left: 60px;  */
    
    overflow: auto;
    height: 300px;
    padding-bottom: 30px;
 } 
.div2 :nth-child(1){
    width: 300px;
    height: 300px;
    border-radius: 50%;
}
.div2 :nth-child(2){
    width: 300px;
    height: 300px;
    border-radius: 50%;
}
.div2 :nth-child(3){
    width: 300px;
    height: 300px;
    border-radius: 50%;
}
.div2 :nth-child(4){
    width: 300px;
    height: 300px;
    border-radius: 50%;
}
.div2 :nth-child(5){
    width: 300px;
    height: 300px;
    border-radius: 50%;
}
.div2 :nth-child(6){
    width: 300px;
    height: 300px;
    border-radius: 50%;

}
.div3{
float: right;
width: calc(960px/2);


}
 
footer{
    width: 100%;
    background-color: burlywood;
    color: rgba(68, 53, 38);
    padding: 20px;
    text-align: center;
}

ul{
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 1.5px;
    font-weight:lighter;
    color: bisque;
  }
    
  a :hover {
      color: bisque;
      background-color:rgba(68, 53, 38, 0.664);
  }



